body{
    /* place-content: center; */
    place-self: center;
    height: 29.7cm;
    width: 21cm;
    padding: 2cm;
    border: 2.5px solid black;
    
}

.header_line{
    width: 80%;
    border-bottom: 2.5px solid black;
}

.role_skill{
    color: #2d9c44;
}